<nav>
    <div class="sidebar-welcome">
        <div class="welcome-name">Hi, {{username}}!</div>
        <div class="welcome-intro">Here are your saved lists...</div>
    </div>
    <div class="sidebar-lists">
        <div class="sidebar-list" #sidebarlists *ngFor="let list of lists; let i = index">
            <a class="list" [ngClass]="{'selected': list.selected, 'hidden': list.showedit}" (click)="setSelected(list.list_id)">{{list.list_name}}</a>
            <input [hidden]="!list.showedit" [(ngModel)]="list.list_name"/>
            <i-more-horizontal class="icon" [hidden]="list.showmore" [ngClass]="{'selected': list.selected && !list.showmore}" (click)="showMore(i)"></i-more-horizontal>
            <i-x class="icon" [hidden]="!list.showmore" [ngClass]="{'selected': list.selected && list.showmore}" (click)="showMore(i)"></i-x>
            <div class="showmore-wrap" [ngClass]="{'visible': list.showmore}">
                <i-edit-3 class="function" [ngClass]="{'hidden': list.showedit}" (click)="editListName(i)"></i-edit-3>
                <i-save class="function" [ngClass]="{'hidden': !list.showedit}" (click)="saveListName(i)"></i-save>
                <i-trash-2 class="function" (click)="deleteList(i)"></i-trash-2>
            </div>
        </div>
    </div>
    <div class="sidebar-add" [hidden]="!addNewList">
        <input #newlistname placeholder="List of awesome" maxlength="25" [(ngModel)]="listName"/>
        <i-save class="icon" (click)="saveNewList()"></i-save>
        {{newlistname.focus()}}
    </div>
    
    <button class="butt-add butt-general" (click)="addList()" [ngClass]="{'hidden': addNewList}">New List <i-plus-circle class="icon"></i-plus-circle></button> 
    <button class="butt-general butt-cancel" (click)="cancelAdd()" [ngClass]="{'hidden': !addNewList}">Cancel</button>

    <section class="section-logout">
        <button class="butt-general butt-logout" (click)="logout()">Logout <i-log-out class="icon"></i-log-out></button>
    </section>
</nav>