<nav>
    <div class="sidebar-welcome">
        <div class="welcome-name">Hi, Shib!</div>
        <div class="welcome-intro">Here are your saved lists...</div>
    </div>
    <div class="sidebar-lists">
        <div class="sidebar-list" *ngFor="let list of lists; let i = index">
            <a class="list" [ngClass]="{'selected': list.selected}" (click)="setSelected(list.list_id)">{{list.list_name}}</a>
        </div>
    </div>
    <div class="sidebar-add" [hidden]="!addNewList">
        <input #newlistname placeholder="List of awesome" maxlength="25" [(ngModel)]="listName"/>
        <i-save class="icon" (click)="saveNewList()"></i-save>
        {{newlistname.focus()}}
    </div>
    
    <button class="butt-add butt-general" (click)="addList()">New List <i-plus-circle class="icon"></i-plus-circle></button> 

</nav>