<section class="popup">

    <div class="popup-wrap">
        <div class="text-wrap">
            <h1>Are you sure you want to delete the list <strong>Yolo</strong>?</h1>
            <p>If you hit delete there's no way back! It's gone for good! No take-backsies!</p>
        </div>
        <div class="button-wrap">
            <button class="butt-general" (click)="closePopup()">No, I made a mistake!</button>
            <button class="butt-general butt-delete">DELETE IT!</button>
        </div>
    </div>

</section>