$colourGradientStart: #E5974B;
$colourGradientEnd: #CF4949;
$colourFontLight: #FFFFFF;

$backgroundGradient: linear-gradient(60deg, $colourGradientStart 0%, $colourGradientEnd 100%);


$fontHeading: 'Knewave', cursive;
$fontBody: 'Josefin Sans', sans-serif;