@import "../../../../assets/variables";

.userlist {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .users-wrap {
        width: 80%;
        max-width: 720px;
        margin-bottom: 20px;
    }

    .user {
        width: 100%;
        height: 40px;
        border-bottom: 2px solid rgba(255, 255, 255, 0.2);
        position: relative;
        
        .teasmade-graph {
            position: absolute;
            height: 101%;
            width: 50%;
            background: rgba(255, 255, 255, 0.12);
        }

        .user-deets {
            height: 100%;
            width: 100%;
            display: flex;
            flex-direction: row;
            align-items: center;

            .name {
                font-size: 1.5em;
                font-weight: 600;
                color: $colourFontLight;
                font-family: $fontBody;
                width: 100%;
                background: transparent;
                border: none;
                outline: none;
                padding-top: 8px;
                z-index: 1;
    
                &::-webkit-input-placeholder { color: rgba(255,255,255,0.2); }
            }

            .icon { 
                height: 24px;
                width: 24px;
                margin: 0 10px;
                cursor: pointer;
                transition: all 0.5s;
                z-index: 1;

                &:hover { transform: scale(1.1); }

                &.edit {
                    margin-right: 0;
                }
            }
        }

    }
}

